## Do not change the code in the cell below ##

In [ ]:
# The pip install can take a minute
%pip install -q urllib3<2.0 datascience ipywidgets
import pyodide_http
pyodide_http.patch_all()

from datascience import *
import numpy as np

## Columns of Tables are Arrays ##

In [ ]:
football = Table.read_table('football_salaries.csv').where('Season', 2023).drop('Season')
football.show(5)

In [ ]:
football.num_rows

In [ ]:
football.num_columns

In [ ]:
football.labels

In [ ]:
man_utd = football.where('Club', 'Man United')
man_utd.show(5)

In [ ]:
man_utd.select('Salary')

In [ ]:
type(man_utd.select('Salary'))

In [ ]:
man_utd.column('Salary')

In [ ]:
np.average(man_utd.column('Salary'))

In [ ]:
man_city = football.where('Club', 'Man City')
man_city.show(5)

In [ ]:
np.average(man_city.column('Salary')) - np.average(man_utd.column('Salary'))

In [ ]:
man_city.relabeled('Salary', '$')

In [ ]:
man_city

In [ ]:
man_city = football.where('Club', 'Man City').drop('Club').relabeled('Salary', '$')
man_city.show(3)

In [ ]:
man_city.select('$')

In [ ]:
type(man_city.select('$'))

In [ ]:
man_city.select(3)

In [ ]:
man_city.select(3).show(5)

In [ ]:
man_city.column('$')

In [ ]:
man_city.column(3)

In [ ]:
type(man_city.column('$'))

In [ ]:
np.average(man_city.column('$'))

In [ ]:
man_utd = football.where('Club', 'Man United').drop('Club').relabeled('Salary', '$')

In [ ]:
np.average(man_city.column('$')) - np.average(man_utd.column('$'))

In [ ]:
np.sum(man_city.column('$')) - np.sum(man_utd.column('$'))

In [ ]:
man_city.num_rows

In [ ]:
man_utd.num_rows

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
man_city.take(0)

In [ ]:
man_city.take(0, 1, 2)

In [ ]:
man_city.take(np.arange(3))

In [ ]:
np.sum(man_city.take(np.arange(5)).column('$'))

In [ ]:
np.sum(man_utd.take(np.arange(5)).column('$'))

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Empire', 'Yale', 'Smit', 'Jorrisen')
streets

In [ ]:
Table()

In [ ]:
braam = Table().with_column('Streets', streets)
braam

In [ ]:
braam.with_column('Blocks from campus', np.arange(4))

In [ ]:
braam

In [ ]:
braam = braam.with_column('Blocks from campus', np.arange(4))
braam

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
auto_kw = Table.read_table('auto_kw.csv')
auto_kw

In [ ]:
auto_kw.column('displacement_l')

In [ ]:
auto_kw.column('power_kw')

In [ ]:
auto_kw.column('power_kw') / auto_kw.column('displacement_l')

In [ ]:
power_density = auto_kw.column('power_kw') / auto_kw.column('displacement_l')
auto_kw = auto_kw.with_column('kW/L', power_density)
auto_kw

In [ ]:
np.max(auto_kw.column('kW/L'))

In [ ]:
auto_kw.with_column(
    'Relative power density ratio', 
    auto_kw.column('kW/L') / np.max(auto_kw.column('kW/L')))

## Where Method

In [ ]:
football.where('Salary', are.above(15000000))

In [ ]:
football.where('Salary', are.between(15000000, 25000000))

In [ ]:
football.where('Position', are.containing('C'))

## Print and string formatting

In [ ]:
10 + 20
30 + 40

In [ ]:
print(10 + 20)
print(30 + 40)

In [ ]:
'Go Witsies!'

In [ ]:
print('Go Witsies!')

In [ ]:
wits = 'Wits'

In [ ]:
'{wits} for good'

In [ ]:
f'{wits} is amazing' # Embed the value of the variable wits into a string

In [ ]:
print(f'{wits} is amazing')
print(f'{man_city.column("Name").item(0)} is quite amazing too')