In [ ]:
# The pip install can take a minute
%pip install -q urllib3<2.0 datascience ipywidgets
import pyodide_http
pyodide_http.patch_all()

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore')

# Lecture 11 #

### Rows from lists

In [2]:
Table().with_columns('Numbers', [1, 2, 3])

Numbers
1
2
3

In [3]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

Drink | Cafe | Price

In [4]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

## Review: Group by one column

In [5]:
survey = Table.read_table('welcome_survey_sp22.csv')
survey.show(3)

In [ ]:
survey.group("Year")

In [ ]:
(survey
 .select("Year", "Hours of sleep")
 .group(0, np.average)
 .take(1, 7, 8, 3))

## Cross-classification: grouping by two columns

In [6]:
survey

Year   | Extroversion | Number of textees | Hours of sleep | Handedness   | Pant leg           | Sleep position     | Pets                           | Piercings
Second | 5            | 5                 | 8              | Left-handed  | Left leg in first  | On your left side  | Ants                           | 0
Fourth | 2            | 3                 | 7              | Right-handed | Left leg in first  | On your left side  | Beetles, Centipedes, Scorpions | 0
First  | 3            | 4                 | 8              | Right-handed | Right leg in first | On your back       | Bird                           | 0
Second | 4            | 8                 | 8              | Right-handed | Right leg in first | On your back       | Bird                           | 0
Second | 4            | 2                 | 6              | Right-handed | Right leg in first | On your right side | Bird                           | 0
Second | 5            | 4                 | 7              | Right-handed | Right leg in first | On your right side | Bird                           | 0
Third  | 4            | 2                 | 8              | Right-handed | I don't know       | On your right side | Bird                           | 0
Fourth | 4            | 4                 | 4              | Right-handed | Left leg in first  | On your stomach    | Brothers                       | 0
First  | 3            | 3                 | 7              | Right-handed | I don't know       | On your back       | Cat                            | 0
Third  | 2            | 2                 | 7              | Right-handed | Left leg in first  | On your back       | Cat                            | 0
... (1333 rows omitted)

In [7]:
survey.group(['Handedness', 'Sleep position']).show()

In [8]:
survey.group(['Handedness', 'Sleep position'],
             np.average).show()

## Pivot Tables

In [9]:
survey.group('Handedness')

Handedness   | count
Both         | 9
Left-handed  | 93
Right-handed | 1241

In [11]:
survey.pivot('Sleep position', 'Handedness')

Handedness   | On your back | On your left side | On your right side | On your stomach
Both         | 2            | 1                 | 3                  | 3
Left-handed  | 15           | 30                | 31                 | 17
Right-handed | 299          | 315               | 451                | 176

In [ ]:
survey.pivot('Sleep position', 
             'Handedness', 
             values='Hours of sleep', 
             collect=np.average)